<p class="h5 mt-3 mb-4 text-center">
   Create your free Team Hangry account
</p>

 <div class="signup-form">

<% if @user.errors.any? %>
<p>Please correct the following errors:</p>
<ul>
  <% @user.errors.full_messages.each do |e| %>

  <li><%= e %></li>

  <% end %>
</ul>
  <% end %>

<%= render partial: 'form' %>

</div>
