
<h2>Foodie Spots</h2>

<ul>
  <% @resto.each do |resto| %>
  <li>
    <!-- loop lists all the users and gives ea user a link, when clicked it
    sends you to the show page that lists the users' db info -->
    <%= link_to resto.name, restaurant_path(resto.id) %>
  </li>
  <% end %>
</ul>
